<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/api/auth/register" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"> <br>
            <label for="name">이메일</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요"> <br>
            <label for="name">비밀번호</label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요"> <br>
            <label for="name">학번</label>
            <input type="text" id="studentNumber" name="studentNumber" placeholder="학번을 입력하세요"> <br>
            <label for="name">학년</label>
            <input type="text" id="grade" name="grade" placeholder="학년을 입력하세요"> <br>
            <label for="name">전공</label>
            <input type="text" id="major" name="major" placeholder="전공을 입력하세요"> <br>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>

</html>